<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.jrzdy.master.mycollections">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_main"/>
        <activity
            android:name=".LoginActivity"
            android:label="Acceder"/>
        <activity
            android:name=".SignUpActivity"
            android:label="Registrarse"/>
        <activity
            android:name=".MarketActivity"
            android:label="@string/title_market"/>
        <activity
            android:name=".PublishCollectionActivity"
            android:label="Publicar Colección"/>
        <activity
            android:name=".TablonAnuncios"
            android:label="Tablon de anuncios"/>
        <activity
            android:name=".EditarPerfil"
            android:label="Editar Perfil"/>
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".NewCollectionActivity"
            android:label="Añadir Colección"/>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Recuperación de contraseña"/>
        <activity
            android:name=".ImageSelectActivity"
            android:label="Seleccionar imagen"/>
        <activity
            android:name=".EditCollectionActivity"
            android:label="Coleccion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity
            android:name=".NuevoArticuloActivity"
            android:label="Añadir nuevo artículo"/>
        <activity
            android:name=".EditArticleActivity"
            android:label="Editar artículo"/>
        <activity
            android:name=".ForoActivity"
            android:label="Foro"/>

        <activity android:name=".DetalleTabAnuncios"
            android:label="Tablón de anuncios"/>

    </application>

</manifest>